span[class~="deck"]{
    color: green;
}

div[id]{
    background: grey;
}

a[href^="http"]{
    color: pink;
}

a[title="Search engine"]{
    color: red;
}


a[href$="pdf"]{
    color: magenta;
}