/******************** 
SPECIFICITY RULES
id - 100 points
classes - 10 points
elements - 1 point
********************/

#main-content p{
    color: red;
}

p{
    color: black;
}

.test{
    color: green;
}

strong{
    color: green;
}